/* .bootstrap-select .btn:focus {
    outline: none !important;
}
.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
} */

/* --------------------------------------------------------------------------- Navigation */
.navigation-container a {
    width: 80px;
}
.navigation-container img {
    width: 100%;
}
.navigation-container h1 {
    color: #3b3c3d;
    margin-inline-end: auto;
    font-size: 20px;
    margin-bottom: 0;
}

/*------------------------------------------------------- Dropdown */
.dropdown-toggle::after {
    display: none;
}

.dropdown {
    margin-inline-end: auto;
    margin-right: 0;
    float: right;
}
.dropdown-btn span {
    /* -webkit-text-stroke: 1px white; */
    margin-left: 5px;
    font-size: 18px;
}
.dropdown-btn {
    background-color: transparent;
    color: #3b3c3d;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 0;
}

.dropdown-btn:hover {
    /* background-color:   #c8cbcc;
    color: #f9fafb; */
    background-color: transparent;
    box-shadow: none;
    color: #3b3c3d;

}

/*------------------------------------------------------- Dropdown #2 */
.dropdown-custom button span {
    margin-left: 5px;
    font-size: 15px;
}

.dropdown-custom button {
    margin-left: 5px;
    font-size: 18px;
}

.dropdown-custom .dropdown-menu li {
padding: 4px 24px 4px 24px;
}

.dropdown-custom .dropdown-menu li a {
    padding: 4px 24px 4px 0px;
    background-color: transparent;
    color: #3b3c3d;
    font-size: 15px;
    }

.dropdown-custom .dropdown-menu .dropdown-submenu  {
    width: 300px;
}

.dropdown-custom .dropdown-menu .dropdown-submenu:hover  {
    background-color: rgba(224, 224, 224, 0.69);
    text-decoration: none!important;
}



/* .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    box-shadow: none;
    border:none;
    color: #3b3c3d;
} */

.search-input {
    border-radius: 0;
    width: 300px!important;
   
}

.form-inline {
    margin-inline-end: auto;
    float: left;
    margin-right: 0;
}

.search-submit  {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
    outline: inherit;
}

.search-submit i {
    font-size: 20px;
}

.link-blog {
    color:  #3b3c3d;
    margin-inline-end: auto;
    
}
#link-navs {
        margin-right: 0;
        width: auto;
        margin-left: 400px;
        
} 

.nav-icons {
    padding: 10px;
}
.nav-icons a {
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
}
.nav-icons a img {
    width: 22px;
}

.center-cropped {
    width: 35px;
    height: 35px;
    /* background-position: center center;
    background-repeat: no-repeat; */
    float: right;
    /* border-radius: 50%; */
  }

  /* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    border-radius: 50%;
    /* modern browsers */
    /* opacity: 0; */
  }

/* --------------------------------------------------------------------------- Body Container */
.container {
    padding: 0;
}

/* --------------------------------------------------------------------------- Front Image */
.front-img {
    width: 100%;
}

/*---------------------------------------------------------------------------- Benefits */

.benefits {
    background-color: #004250;
    color: white;

    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.benefits .benefit {
    width: 100%;
    /* padding: 0; */
}

.test {
    width: 100%;
    height: 30px;
    background-color: thistle;
}

/*---------------------------------------------------------------------------- Latest 3 Videos */
.latest-videos {
    margin-top: 50px;
    margin-bottom: 50px;
}

.latest-videos .card {
    /* margin: 0 20px  0  20px ; */
}

.latest-videos .card img {
    width: 100%;
    height: 180px;
}

.latest-videos .card-body {
    height: 100%;
}

/*---------------------------------------------------------------------------- Become a teacher */
.become-teacher {
    background-image: url("../img/jumbo-picture.png");
    background-size: cover;
    height: 250px;
    color: white;

    padding-top: 40px;
    margin-bottom: 50px;
   
}

.become-teacher .card-text {
    padding-right: 100px;
    padding-left: 100px;
}

.become-teacher .btn {
    background-color: #36b9bc;
    border: none;
}

.become-teacher .btn:hover {
    background-color: #36d1c9;
    border: none;
}

.testimonials-grid .card {
    text-align:center;
    border: none;
}

.testimonials-grid .card img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin:0 auto;
}

.testimonials-grid .card .card-body .card-title {
    font-size: 18px;
    margin-bottom: 1px;
}

.testimonials-grid .card .card-body .card-text {
    font-style: italic;
}